# Hi

## Test

In [1]:
print ('Hello Git')

Hello Git

### Imports

In [1]:
import pandas as pd

### Read data

In [55]:
main_data = pd.read_csv("data/covid_worldometer_data.csv")


main_data = main_data.fillna(0) # 

main_data[['Country/Region', 'NewCases']].sort_values(by='NewCases', ascending=False)

             Country/Region  NewCases
5                    Mexico    6590.0
28                  Bolivia    1282.0
146                 Jamaica      30.0
72                 S. Korea      20.0
0                       USA       0.0
..                      ...       ...
74                Palestine       0.0
75   Bosnia and Herzegovina       0.0
76                 Bulgaria       0.0
77               Madagascar       0.0
208          Western Sahara       0.0

[209 rows x 2 columns]